/node_modules
/public/hot
/public/fonts
/public/storage
/public/client
/public/cleanui/plugins
/storage
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/bootstrap/cache
public/mix-manifest.json
public/client/js/app.js
